[submodule "src/Abstractions"]
	path = src/Abstractions
	url = https://github.com/pickmeBabka/CognitiveFlow.Abstractions.git
[submodule "src/Core"]
	path = src/Core
	url = https://github.com/pickmeBabka/CognitiveFlow.Core.git
[submodule "src/Infrastructure"]
	path = src/Infrastructure
	url = https://github.com/pickmeBabka/CognitiveFlow.Infrastructure.git
[submodule "Database"]
	path = Database
	url = https://github.com/pickmeBabka/CognitiveFlow.Database.git
